* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    height: 100px;
    box-shadow: 0px 0px 10px 1px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

    .nav__links li a {
        transition: all 0.3s ease 0s;
    }

        .nav__links li a:hover {
            color: #0088a9;
        }
