@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f3f3f3;
}

.logo {
    cursor: pointer;
}


li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 16%;
    background-color: #24252A;
    height: 80px;
    box-shadow: 0px 0px 10px 1px;
}


.nav__links {
    list-style: none;
}

    .nav__links li {
        display: inline-block;
        padding: 30px 20px 0px;
    }

        .nav__links li a {
            transition: all 0.3s ease 0s;
        }

            .nav__links li a:hover {
                color: #0088a9;
            }


button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

    button:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }