@model UserViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}


<div class="container">
    <div class="login-container">
        <h2 class="login-title text-center">Password Change</h2>
        <form asp-controller="User" asp-action="PasswordChange" method="POST">
            <input asp-for="Id" name="userId" hidden/>
            <!-- Yeni şifre -->
            <div class="mb-3">
                <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="New Password" required>
            </div>
            <!-- Yeni şifre tekrar -->
            <div class="mb-3">
                <input type="password" name="newPasswordConfirm" class="form-control" id="newPasswordConfirm" placeholder="New Password Confirm" required>
            </div>

            <!-- Hata mesajı-->
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }
            <button type="submit" class="btn btn-custom">Confirm</button>
        </form>
       
    </div>
</div>

<script>

</script>